:root {
  --white-smoke: #f4f4f4ff;
  --heliotrope: #ca7df9ff;
  --majorelle-blue: #724cf9ff;
  --bittersweet: #f25c54ff;
  --dark-cyan: #0b5c60;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  background-color: var(--dark-cyan);
  color: white;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 999px;
  padding: 1rem;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
li {
  border: none;
  border-width: 0;
  border-radius: 0;
  color: var(--dark-cyan);
  background-color: var(--white-smoke);
  font-weight: 600;
  flex: 1;
  text-align: center;
  padding: 1rem 0;
}
li:hover {
  color: var(--heliotrope);
}
h1 {
  padding: 0 1rem;
}
.add-container {
  padding: 1rem;
  margin: 0 auto;
  min-width: 100%;
  background-color: var(--dark-cyan);
  color: var(--white-smoke);
}
#addTaskBtn {
  font-weight: 600;
  background-color: var(--white-smoke);
  color: var(--dark-cyan);
}
#addTaskBtn:hover {
  color: var(--heliotrope);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

label {
  display: block;
}

button {
  padding: 10px 15px;
  background-color: var(--dark-cyan);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* // accessibility */
button:focus,
input:focus {
  outline: 2px solid var(--bittersweet); /* Add a visible focus outline */
}

button:hover {
  background-color: #004985;
}

ul {
  list-style: none;
  padding: 0;
}
#recipeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

/* TABLET  */
/* DESKTOP  */
/* header {
  background-color: #004985;
  color: white;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 999px;
  padding: 1rem;
} */
